.movie-list-containment {
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 110%;
  margin-top: 50px;
  width: 100%;
  background-color: rgb(43, 226, 217);
}

.movies-card {
  display: block; /* Add this */
  border: 2px solid #ba1111;
  border-radius: 10px;
  width: 300px;
  overflow: hidden;
}

.movie-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.movie-content {
  padding: 20px;
}

h3 {
  margin: 0;
}

.movie-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

button {
  margin-left: 10px;
}