.movies-container {
  border: 2px solid purple;
  padding: 20px;
  border-radius: 10px;
  width: 130%;
  margin-left: 40px;
  margin-top: 50px;
  background-color: blueviolet;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

span {
  font-size: 18px;
}

box-container {
  background-color: rgb(220, 39, 230);
}