.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEB3EF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    margin-left: -60%;
  }
  
  .movie-card img {
    width: 150px;
    height: 225px;
    margin-bottom: 10px;
  }
  
  .movie-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .movie-card p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }